<h1>Log in</h1>
<%= form_with url: sign_in_path do |form| %>
  <div class='mb-3'>
    <%= form.label :email, class: "form-label" %>
    <%= form.email_field :email, class: "form-control", placeholder: "jon@doe.com" %>
  </div>
  <div class='mb-3'>
    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password, class: "form-control", placeholder: "password" %>
    <%= link_to "Forgot your password?", password_reset_path %>
  </div>
  <div class='mb-3'>
    <%= form.submit "Log in", class: "btn btn-primary", data: { turbo: false } %>
  </div>
<% end %>